<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creacion</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h2>Crear nuevo perro</h2>
      <form action="/perros" method="post">
        <div>
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" />
        </div>
        <div>
          <label for="raza">Raza</label>
          <input type="text" name="raza" id="raza" />
        </div>
        <div>
          <label for="edad">Edad</label>
          <input type="text" name="edad" id="edad" />
        </div>
        <div>
          <label for="foto">foto</label>
          <input type="text" name="foto" id="foto" />
        </div>
        <button type="submit">Crear</button>
      </form>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
