<header>
  <h1>Veterinaria de perrites</h1>
  <nav>
    <ul>
      <li><a href="/"> Inicio </a></li>
      <li><a href="/perros"> Perros </a></li>
      <li><a href="/productos"> Productos </a></li>
    </ul>
  </nav>
</header>
